<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>fr.monegliseaparis.dev.emciuploads</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python</string>
        <string>/Applications/eepm-video-tools.app/emci-videos-upload.py</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/var/log/myjob.emciupload.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/myjob.emciupload.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>
